body {
  margin: 0;
  font-family: 'Rubik';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7e7e7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-weight: 600;
}

@font-face {
  font-family: 'Rubik';
  src: url(./fonts/rubik/Rubik-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'RubikBold';
  src: local('RubikBold'), url(./fonts/rubik/Rubik-Bold.ttf) format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'RubikLight';
  src: local('RubikLight'), url(./fonts/rubik/Rubik-Light.ttf) format('truetype');
  font-weight: 100;
}